.main-content {
  padding-top: 4.5rem;
  overflow: hidden;
  min-height: 120vh;
}

.logo-responsive {
  font-size: 1.2rem;
}

.main-img {
  padding: 0 30%;
  display: none;
}

.appear-img {
  display: block;
  padding: 1% 20%;
}

.h1-responsive {
  color: #007bff !important;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 321px) {
  .main-content {
    padding-top: 2.5rem;
    min-height: 0;
  }
  .logo-responsive {
    font-size: 1.4rem;
  }
}

@media only screen and (min-width: 400px) {
  .main-content {
    padding-top: 2rem;
  }
}

@media only screen and (min-width: 500px) {
  .main-content {
    padding-top: 1rem;
  }
  .logo-responsive {
    font-size: 1.4rem;
  }
  .h1-responsive {
    padding-top: 20%;
  }
  .appear-img {
    max-width: 90%;
  }
}

@media only screen and (min-width: 992px) {
  .logo-responsive {
    font-size: 2rem;
  }
  .main-img {
    display: block;
    padding-left: 30%;
    padding-right: 35%;
  }
  .appear-img {
    display: none;
  }
  .h1-responsive {
    color: #000 !important;
    padding-bottom: 0;
  }
}
